/* --------------------------------------------- header --------------------------------------------- */

.header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  border-radius: 25px;
  border: 2px solid var(--blue);
  margin: 25px 41.5px;
  transition: var(--transition);
}

.header.scroll {
  border-radius: 0;
  margin: 0;
  position: fixed;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin: 20px 0;
}

.header-logo img {
  width: 112px;
  height: 35px;
}

.nav {
  font-size: 16px;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 40px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  font-weight: 600;
  color: var(--black);
  transition: var(--transition);
}

.nav-item.active a {
  font-weight: 600;
  color: var(--blue);
}

.nav-item a:hover {
  color: var(--blue);
}

.nav-bottom {
  display: none;
  flex-direction: column;
  align-items: center;
}

.nav-bottom a {
  display: block;
  font-family: "DMSans-med";
  color: var(--black);
  font-size: 18px;
}

.nav-bottom a:first-child {}

.nav-bottom a:nth-child(2) {
  text-decoration: underline;
}

.nav-bottom a:nth-child(3) {
  text-decoration: underline;
}

.header-lang {}

@media (max-width: 840px) {
  .header {
    border-radius: 0;
    margin: 0;
  }
}

/* --------------------------------------------- burger --------------------------------------------- */

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--blue);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 840px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-item a {}

  .nav-item {
    padding: 10px 30px;
    font-size: 32px;
  }

  .nav-bottom {
    display: flex;
    margin-bottom: 54px;
  }

  .burger {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    --header-height: 63px;
    position: fixed;
    right: 0;
    left: 0;
    top: 100%;
    z-index: 1000;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.8);
    /* backdrop-filter: blur(1px); */
    transform: translateX(100%);
    transition: transform 0.6s ease-in-out;
    min-height: 87vh;
  }

  .nav--visible {
    transform: none;
  }

  .nav-item {
    margin-right: 0;
  }

  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    /* border-bottom: 1px solid var(--second-text); */
    font-size: 20px;
  }

  .else-block {
    background-color: black;
  }
}

@media (max-width: 840px) {

  .header__contact-item {
    display: none;
  }
}

/* --------------------------------------------- component --------------------------------------------- */


.button {
  font-size: 20px;
  line-height: 27.24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  padding: 21px 20px 21px 50px;
  border-radius: 120px;
  background: var(--white);
  border: none;
  cursor: pointer;

}

.button span:first-child {
  display: none;
}

.button img {
  width: 30px;
  height: 30px;
  transition: var(--transition);
}

.button:hover img {
  transform: var(--transform-icon);
}

.button-light {
  background: var(--white);
}

.button-cursive {
  background-color: transparent;
  border: 2px solid var(--blue);
  border-style: dashed;
}


.uptitle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.logo-span {
  width: 20px;
  height: 20px;
}

.uptitle span {}

@media (max-width: 840px) {
  .uptitle {
    margin-bottom: 10px;
  }

  .button {

    justify-content: space-between;
    width: 100%;

    font-size: 17px;
    line-height: 23.14px;
    padding: 18px;
  }

  .button span:first-child {
    display: block;
  }
}

/* --------------------------------------------- main-banner --------------------------------------------- */

.main-banner {
  padding-top: 0;

}

.main-banner .container {
  padding: 0;

}

.main-banner .banner {
  position: relative;
  overflow: hidden;
  padding: 230px 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, #221689 0%, #120d39 100%);
  border-radius: 0 0 40px 40px;
  color: var(--white-70);
  /* color: #FFFBFCB2; */
}

.main-banner .banner>div {
  width: 48%;
}

.main-banner .banner-left {
  z-index: 1;
}

.main-banner .banner-right {
  max-height: 588px;
  border-radius: 53px;
  overflow: hidden;
  z-index: 1;
}

.main-banner .banner-right img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}



.main-banner h1 {
  margin-bottom: 40px;
}

.main-banner .banner-left__description {

  margin-bottom: 80px;
}

.main-banner .banner-bg {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100% !important;
}

.banner-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 840px) {
  .main-banner .banner {
    flex-direction: column;
    gap: 50px;
    padding: 32px 20px;
    padding-top: 91px;
    color: var(--white-40);
  }

  .main-banner .banner>div {
    width: 100%;
  }

  .main-banner h1 {
    color: var(--white);
    margin-bottom: 15px;
  }

  .main-banner .banner-left__description {
    margin-bottom: 50px;
  }

  .main-banner .banner-right {
    border-radius: 50%;
    transform: scale(1.2) translate(0, 20%);
  }

  .main-banner .banner-bg {
    top: 60%;
  }
}

/* --------------------------------------------- main-offshore --------------------------------------------- */

.main-offshore {}

.main-offshore .container {}

.main-offshore .offshore {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-offshore .offshore>div {
  width: 45%;
}

.main-offshore .offshore-left {
  border-radius: 40px;
  overflow: hidden;
}

.main-offshore .offshore-left img {
  max-height: 741px;
  width: 100%;
  object-fit: cover;
}

.main-offshore .offshore-right {}

.main-offshore .uptitle {}

.main-offshore .offshore-text {
  margin-bottom: 80px;
}

.offshore-mob {
  display: none;
}

@media (max-width: 840px) {
  .main-offshore .offshore {
    flex-direction: column-reverse;
    gap: 70px;
  }

  .main-offshore .offshore>div {
    width: 100%;
  }

  .main-offshore .offshore-left img {
    max-height: 500px;
  }

  .main-offshore .offshore-text {
    margin-bottom: 0;
  }

  .offshore-mob {
    display: flex;
  }

  .offshore-desk {
    display: none;
  }
}





/* --------------------------------------------- main-service --------------------------------------------- */
.main-service {}

.main-service .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.main-service .service {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #29235C14;
  padding: 104px 50px;
  border-radius: 40px;

}



.main-service .service-left {
  width: 28%;
}

.main-service .service-right {
  width: 60%;
}

.main-service .service-list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.main-service .service-list__item {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: end;
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 1.5px solid var(--black);
}

.main-service .service-list__item span {
  color: var(--red);
}

.main-service .service-list__item h3 {}

.main-service .service-list__item img {
  width: 30px;
  height: 30px;
  transition: var(--transition);
}

.main-service .service-list__item:hover img {
  transform: var(--transform-icon);
}



@media (max-width: 840px) {
  .main-service .container {
    gap: 40px;
  }

  .main-service .service {
    flex-direction: column;
    gap: 80px;
    padding: 30px 20px;
  }

  .main-service .service-left,
  .main-service .service-right {
    width: 100%;
  }

  .main-service .service-list {
    margin: 0;
    gap: 40px;
  }

  .main-service .service-list__item {
    padding: 10px 0;
  }
}


/* --------------------------------------------- main-track --------------------------------------------- */
.main-track {}

.main-track .container {}

.main-track .track {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

}

.main-track .track-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main-track .track-title h1 {}

.main-track .track-list {

  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #000F0833
}

.main-track .track-list__title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background: #29235C14;
  border-bottom: 1px solid #000F0833;

}

.main-track .track-list__title span {
  padding: 20px 25px;
}

.main-track .track-list__content {}

.main-track .track-list__content ul {}

.main-track .track-list__content li {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #000F0833;
}

.main-track .track-list__content li:last-child {
  border: none;
}

.main-track .track-list__content span {
  padding: 20px 25px;

}


@media (max-width: 840px) {
  .main-track .track {
    gap: 50px;
  }

  .main-track .track-list {
    width: 100%;
  }

  .main-track .track-list__content {
    max-height: 325px;
  }

  .main-track .track-list__title,
  .main-track .track-list__content li {

    grid-template-columns: repeat(3, 1fr);
  }

  .main-track .track-list__title span {
    display: none;
    padding: 9px 20px;
  }

  .main-track .track-list__title span:first-child {
    display: block;

  }

  .main-track .track-list__title span:nth-child(2) {
    display: block;

  }

  .main-track .track-list__title span:nth-child(3) {
    display: block;

  }

  .main-track .track-list__content span {
    display: none;
    padding: 9px 20px;

  }

  .main-track .track-list__content span:first-child {
    display: block;

  }

  .main-track .track-list__content span:nth-child(2) {
    display: block;

  }

  .main-track .track-list__content span:nth-child(3) {
    display: block;

  }
}

/* --------------------------------------------- main-dialog --------------------------------------------- */
.main-dialog {}

.main-dialog .container {
  display: flex;
  flex-direction: column;
  gap: 250px;
}

.main-dialog .dialog {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main-dialog .dialog-window {
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
  color: var(--white);
  padding: 100px;
  gap: 50px;
  border-radius: 40px;
  width: 60%;
  z-index: 1;
}

.main-dialog .dialog-window img {
  width: 70px;
  height: 60px;
}

.main-dialog .dialog-window h3 {}

.main-dialog .dialog-bg {
  position: absolute;
  top: 0;
  right: 40%;
  bottom: -10%;
  left: 0;
  z-index: 0;

}

.main-dialog .dialog-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-dialog .callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;

}

.main-dialog .callout h2 {
  text-align: center;
  max-width: 900px;
  z-index: 1;
}

.main-dialog .callout img:first-child {
  z-index: 1;
}

.main-dialog .callout img:nth-child(2) {
  width: 80;
  height: 80;
  z-index: 1;
}

.main-dialog .callout-bg {
  position: absolute;
  top: 20%;
  bottom: 20%;
  right: 0;
  left: 0;
  z-index: 0;
}

.main-dialog .callout-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

@media (max-width: 840px) {
  .main-dialog .container {
    gap: 100px;
  }

  .main-dialog .dialog-window {
    width: 100%;
    gap: 30px;
    padding: 20px 30px;
  }

  .main-dialog .dialog-window img {
    width: 47px;
    height: 40px;
  }
}

/* --------------------------------------------- footer --------------------------------------------- */
.footer {}

.footer a {
  color: var(--white);
}

.footer .container {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 280px;
  column-gap: 50px;
  row-gap: 300px;
  border-radius: 40px, 40px, 0px, 0px;
  background-color: var(--blue);
  padding: 30px 100px;
  
}

.footer .footer-topLeft {
  z-index: 1;
}

.footer .footer-nav {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 26px;
  border-bottom: 1.5px solid var(--white-20);
  color: var(--white);
}

.footer .footer-contact {
  display: flex;
  align-items: center;
  padding-top: 26px;
  gap: 50px;
}

.footer .footer-topRight {
  z-index: 1;
}

.footer .footer-topRight .button-cursive {
  border-color: var(--white);
  color: var(--white);
}

.footer .footer-bottomLeft,
.footer .footer-bottomRight {
  color: var(--grey);
  font-size: 18px;
  line-height: 25.2px;
  z-index: 1;
}

.footer .footer-bottomRight {

  display: flex;
  gap: 50px;
}

.footer .footer-bottomRight a {
  color: var(--grey);
}


.footer .footer-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* top: 50%; */
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}
.footer .footer-bg img {

}
@media (max-width: 840px) {
  .footer .container {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 0;
  }

  .footer .footer-nav {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding: 20px 0;
  }

  .footer .footer-contact {
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 20px 0;
    border-bottom: 1.5px solid var(--white-20);
    margin-bottom: 30px;
  }

  .footer .footer-bottomLeft,
  .footer .footer-bottomRight {

    font-size: 15px;
    line-height: 18px;
  }

  .footer .footer-bottomLeft {
    margin-top: 180px;
    margin-bottom: 18px;
  }
  .footer .footer-bg  {
    transform: scale(.7) translateY(40%);
  }
}


/* end */
.mob {
  display: none;
}

@media (max-width: 840px) {
  .mob {
    display: block;
  }

  .desc {
    display: none;
  }
}