<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../asset/main.css" />
    <link rel="stylesheet" href="../asset/style.css" />
    <link rel="stylesheet" href="../asset/fonts/font.css" />
  </head>

  <body>
    <div class="wrapper" id="about-page">
      <header class="header">
        <div class="container">
          <div class="header-logo">
            <a href="/">
              <img src="../asset/img/Logo_SD.png" alt="logo" />
            </a>
          </div>
          <button
            class="burger"
            data-burger
            aria-label="Открыть меню"
            aria-expanded="false"
          >
            <span class="burger__line"></span>
          </button>
          <nav class="nav" data-nav>
            <ul class="nav-list">
              <li class="nav-item active">
                <a href="./about.page.html">About us</a>
              </li>
              <li class="nav-item">
                <a href="./services.page.html">Services</a>
              </li>
              <li class="nav-item">
                <a href="./fleet.page.html">Fleet</a>
              </li>

              <li class="nav-item">
                <a href="./contacts.page.html">Contacts</a>
              </li>
            </ul>
            <div class="nav-bottom">
              <div class="header-lang">
                <span>EN</span><span class="active">RU</span>
              </div>
              <div class="nav-bottom__contact">
                <a href="tel:">+7 985 773-18-69</a>
                <a href="mailto:arenallc@arena-llc.com">
                  arenallc@arena-llc.com
                </a>
              </div>
              <div>
                <button class="button">
                  <span></span>
                  <span>get in touch</span>

                  <img
                    src="../asset/img/icons/icon arrow 45 white.svg"
                    alt="arrow"
                  />
                </button>
              </div>
            </div>
          </nav>
          <div class="header-lang desc">
            <span>EN</span><span class="active">RU</span>
          </div>
        </div>
      </header>
      <section class="fleet-title">
        <div class="container">
          <div class="fleet-title__content">
            <div class="fleet-title__content-title desc">
              <div class="uptitle">
                <img
                  class="logo-span"
                  src="../asset/img/banner_upTitle.png"
                  alt="plogo"
                />
                <span>What we Do</span>
              </div>
              <h2>Our Services</h2>
            </div>
            <div class="uptitle mob">
              <img
                class="logo-span"
                src="../asset/img/banner_upTitle.png"
                alt="plogo"
              />
              <span>What we Do</span>
            </div>
            <h3 class="fleet-title__content-subtitle">
              Arena LLC being recognized as provider of offshore services to the
              maritime industry worldwide firsthand understands the criticality
              of vessel needs, obtaining spares and equipment to maintain
              operations, and ship repairing activities.
            </h3>
          </div>
        </div>
      </section>
      <section class="services-switcher">
        <div class="container">
          <div class="switcher switcher-service">
            <div class="switcher-title">
              <div data-key="1" class="switcher-title__item active">
                <h3>Ship Sale & Charter</h3>
                <span>01</span>
              </div>
              <div data-key="2" class="switcher-title__item">
                <h3>Spare Parts</h3>
                <span>02</span>
              </div>
              <div data-key="3" class="switcher-title__item">
                <h3>Shipyard Services</h3>
                <span>03</span>
              </div>
            </div>
            <div class="switcher-content">
              <div data-value="1" class="switcher-content__item">
                <div class="switcher-content__item-grid">
                  <div></div>
                  <div class="switcher-content__title">
                    1 Arena LLC's main focus is to provide the Offshore Industry
                    with the highest standard of Sale & Purchase, Chartering and
                    Market Intelligence. We are in contact with vessel owners
                    all over the world and have deep knowledge on available
                    vessels suitable for our client’s need
                  </div>
                  <h3>We are <span>dealing</span> with:</h3>
                  <ul class="switcher-content__list">
                    <li class="switcher-content__list-item">
                      <span>01</span>
                      <span>Supply Vessels; DSV, PSV, MPSV, OSV</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>02</span>
                      <span>Survey&Research Vessels</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>03</span>
                      <span>Tug Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>04</span>
                      <span>Barges</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>05</span>
                      <span>AHTSs</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>06</span>
                      <span>Workboats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>07</span>
                      <span>Dredgers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>08</span>
                      <span>Cable Layers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>09</span>
                      <span>Drilling Units</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>10</span>
                      <span>Crew Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>11</span>
                      <span>Patrol Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>12</span>
                      <span>Landing Crafts</span>
                    </li>
                  </ul>
                  <div></div>
                  <h3>
                    We are pleased to guide and satisfy our clients' demands
                    with our complete database.
                  </h3>
                </div>

                <div class="slider">
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination--paradise"></div> -->

                    <!-- If we need navigation buttons -->

                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
                  <div class="swiperMY-button-prev">
                    <img
                      src="../asset/img/icons/slider-arrow-left.svg"
                      alt="arrow"
                    />
                  </div>
                  <div class="swiperMY-button-next">
                    <img
                      src="../asset/img/icons/slider-arrow-right.svg"
                      alt="arrow"
                    />
                  </div>
                </div>
              </div>
              <div data-value="2" class="switcher-content__item">
                <div class="switcher-content__item-grid">
                  <div></div>
                  <div class="switcher-content__title">
                    2 Arena LLC's main focus is to provide the Offshore Industry
                    with the highest standard of Sale & Purchase, Chartering and
                    Market Intelligence. We are in contact with vessel owners
                    all over the world and have deep knowledge on available
                    vessels suitable for our client’s need
                  </div>
                  <h3>We are <span>dealing</span> with:</h3>
                  <ul class="switcher-content__list">
                    <li class="switcher-content__list-item">
                      <span>01</span>
                      <span>Supply Vessels; DSV, PSV, MPSV, OSV</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>02</span>
                      <span>Survey&Research Vessels</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>03</span>
                      <span>Tug Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>04</span>
                      <span>Barges</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>05</span>
                      <span>AHTSs</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>06</span>
                      <span>Workboats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>07</span>
                      <span>Dredgers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>08</span>
                      <span>Cable Layers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>09</span>
                      <span>Drilling Units</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>10</span>
                      <span>Crew Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>11</span>
                      <span>Patrol Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>12</span>
                      <span>Landing Crafts</span>
                    </li>
                  </ul>
                  <div></div>
                  <h3>
                    We are pleased to guide and satisfy our clients' demands
                    with our complete database.
                  </h3>
                </div>

                <div class="slider">
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination--paradise"></div> -->

                    <!-- If we need navigation buttons -->

                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
                  <div class="swiperMY-button-prev">
                    <img
                      src="../asset/img/icons/slider-arrow-left.svg"
                      alt="arrow"
                    />
                  </div>
                  <div class="swiperMY-button-next">
                    <img
                      src="../asset/img/icons/slider-arrow-right.svg"
                      alt="arrow"
                    />
                  </div>
                </div>
              </div>
              <div data-value="3" class="switcher-content__item">
                <div class="switcher-content__item-grid">
                  <div></div>
                  <div class="switcher-content__title">
                    3 Arena LLC's main focus is to provide the Offshore Industry
                    with the highest standard of Sale & Purchase, Chartering and
                    Market Intelligence. We are in contact with vessel owners
                    all over the world and have deep knowledge on available
                    vessels suitable for our client’s need
                  </div>
                  <h3>We are <span>dealing</span> with:</h3>
                  <ul class="switcher-content__list">
                    <li class="switcher-content__list-item">
                      <span>01</span>
                      <span>Supply Vessels; DSV, PSV, MPSV, OSV</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>02</span>
                      <span>Survey&Research Vessels</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>03</span>
                      <span>Tug Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>04</span>
                      <span>Barges</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>05</span>
                      <span>AHTSs</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>06</span>
                      <span>Workboats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>07</span>
                      <span>Dredgers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>08</span>
                      <span>Cable Layers</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>09</span>
                      <span>Drilling Units</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>10</span>
                      <span>Crew Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>11</span>
                      <span>Patrol Boats</span>
                    </li>
                    <li class="switcher-content__list-item">
                      <span>12</span>
                      <span>Landing Crafts</span>
                    </li>
                  </ul>
                  <div></div>
                  <h3>
                    We are pleased to guide and satisfy our clients' demands
                    with our complete database.
                  </h3>
                </div>

                <div class="slider">
                  <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>

                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-1.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-2.png"
                          alt="slideImg"
                        />
                      </div>
                      <div class="swiper-slide">
                        <img
                          class="slide-img"
                          src="../asset/img/slider-img-3.png"
                          alt="slideImg"
                        />
                      </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- <div class="swiper-pagination--paradise"></div> -->

                    <!-- If we need navigation buttons -->

                    <!-- If we need scrollbar -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
                  <div class="swiperMY-button-prev">
                    <img
                      src="../asset/img/icons/slider-arrow-left.svg"
                      alt="arrow"
                    />
                  </div>
                  <div class="swiperMY-button-next">
                    <img
                      src="../asset/img/icons/slider-arrow-right.svg"
                      alt="arrow"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="services-callout">
        <div class="container">
          <div class="callout">
            <h2>
              We look forward to offering you our enhanced support and
              assistance.
            </h2>
            <!-- <div class="callout-imgs"> -->
            <img src="../asset/img/icons/callout lines.svg" alt="lines" />
            <img src="../asset/img/icons/callout-arrow.svg" alt="arrow" />
            <!-- </div> -->

            <!-- <div class="callout-bg mob">
                <img src="../asset/img/dialog-bg-mob.svg" alt="dialog-pic" />
              </div> -->
          </div>
        </div>
      </section>
      <section class="contactus">
        <div class="container">
          <div class="contact-block">
            <div class="contact-left__title">
              <div class="uptitle">
                <img
                  class="logo-span"
                  src="../asset/img/banner_upTitle.png"
                  alt="plogo"
                />
                <span>What do we do?</span>
              </div>
              <h2>CONTACT US</h2>
              <span
                >Thank you for your interest in our services. Please fill out
                the email form, submit and we will get back to you soon.
              </span>
            </div>
            <div class="contact-left__content">
              <div class="contact-left__content-keys">
                <span>Address</span>
                <span>Phone</span>
                <span>Email</span>
              </div>
              <div class="contact-left__content-value">
                <span>Russia, Moscow.</span>
                <span>
                  Ms. Elena BARYSHEVA - Shipbroker
                  <br />
                  <a href="tel:+7 985 773-18-69"> +7 985 773-18-69</a>
                </span>

                <a href="mailto:+7 985 773-18-69">arenallc@arena-llc.com</a>
              </div>
            </div>
            <form class="contact-form">
              <h3 class="form-title">Fill in the forms:</h3>
              <div class="form-inputs">
                <input placeholder="Name..." type="name" />
                <input placeholder="Email..." type="email" />
                <input placeholder="Subjects..." type="name" />
                <textarea placeholder="Message..." name="text"></textarea>
              </div>
              <button class="button">
                <span></span>
                <span>Submit</span>

                <img
                  src="../asset/img/icons/icon arrow 45 white.svg"
                  alt="arrow"
                />
              </button>
            </form>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-topLeft">
            <div class="footer-nav">
              <a href="./about.page.html">About us</a>
              <a href="./services.page.html">Services</a>
              <a href="./fleet.page.html">Fleet</a>
              <a href="./contacts.page.html">Contacts</a>
            </div>
            <div class="footer-contact">
              <a href="tel:+74951234567">+7 985 773-18-69</a>
              <a href="email:arenallc@arena-llc.com">arenallc@arena-llc.com</a>
            </div>
          </div>
          <div class="footer-topRight">
            <button class="button button-cursive">
              <span></span>
              <span>get in touch</span>
              <img
                src="../asset/img/icons/icon arrow 45 white.svg"
                alt="arrow"
              />
            </button>
          </div>
          <div class="footer-bottomLeft">
            <span>Sea Deals. ©2024. All rights reserved.</span>
          </div>
          <div class="footer-bottomRight">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
          </div>
          <div class="footer-bg">
            <img src="../asset/img/footer-bg.png" alt="footer-bg" />
          </div>
        </div>
      </footer>
    </div>
    <script src="../asset/app.js"></script>
  </body>
</html>
