<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../asset/main.css" />
    <link rel="stylesheet" href="../asset/style.css" />
    <link rel="stylesheet" href="../asset/fonts/font.css" />
  </head>

  <body>
    <div class="wrapper" id="about-page">
      <header class="header">
        <div class="container">
          <div class="header-logo">
            <a href="/">
              <img src="../asset/img/Logo_SD.png" alt="logo" />
            </a>
          </div>
          <button
            class="burger"
            data-burger
            aria-label="Открыть меню"
            aria-expanded="false"
          >
            <span class="burger__line"></span>
          </button>
          <nav class="nav" data-nav>
            <ul class="nav-list">
              <li class="nav-item active">
                <a href="./about.page.html">About us</a>
              </li>
              <li class="nav-item">
                <a href="./services.page.html">Services</a>
              </li>
              <li class="nav-item">
                <a href="./fleet.page.html">Fleet</a>
              </li>

              <li class="nav-item">
                <a href="./contacts.page.html">Contacts</a>
              </li>
            </ul>
            <div class="nav-bottom">
              <div class="header-lang">
                <span>EN</span><span class="active">RU</span>
              </div>
              <div class="nav-bottom__contact">
                <a href="tel:">+7 985 773-18-69</a>
                <a href="mailto:arenallc@arena-llc.com">
                  arenallc@arena-llc.com
                </a>
              </div>
              <div>
                <button class="button">
                  <span></span>
                  <span>get in touch</span>

                  <img
                    src="../asset/img/icons/icon arrow 45 white.svg"
                    alt="arrow"
                  />
                </button>
              </div>
            </div>
          </nav>
          <div class="header-lang desc">
            <span>EN</span><span class="active">RU</span>
          </div>
        </div>
      </header>
      <section class="about-title">
        <div class="container">
          <div class="about-title__content">
            <div class="about-title__content-title">
              <div class="uptitle">
                <img
                  class="logo-span"
                  src="../asset/img/banner_upTitle.png"
                  alt="plogo"
                />
                <span>What we Do</span>
              </div>
              <h2>
                Arena LLC being recognized as provider of offshore services to
                the maritime industry worldwide firsthand understands the
                criticality of vessel needs, obtaining spares and equipment to
                maintain operations, and ship repairing activities.
              </h2>
            </div>
            <div class="about-title__content-img">
              <img src="../asset/img/about-title.png" alt="about-title" />
            </div>
          </div>
        </div>
      </section>
      <section class="about-info">
        <div class="container">
          <div class="info-block__title">
            <h3 class="accent-red">01</h3>
            <h3>
              Due to our high rate of deal flow, we have taken an active role as
              a <span class="accent-red">bridge in Marine Offshore</span> (Oil &
              Gas) Industry by facilitating coordination among the Buyers,
              Charterers and Owners from all over the World.
            </h3>
          </div>
          <div class="info-block__img">
            <img src="../asset/img/about-first.png" alt="about-img" />
          </div>
          <div class="info-block__text">
            <h3>
              Current realities implies the new approach to fleet search and
              contracting.  We are glad to guide you on
              <span class="accent-red">preliminary tonnage overview</span>
              and preliminary availability of the fleet before you issue firm
              request. 
            </h3>
            <div></div>
          </div>
          <div class="info-block__text">
            <div></div>
            <h3>
              We are involved in all
              <span class="accent-red">stages of the contract</span> - from
              marketing offshore vessels, through negotiating sales contracts
              and charter fixtures, to attending closings and inspections.  We
              are ready to assist in solving commercial issues, safety of
              payment structures. 
            </h3>
          </div>
          <div class="info-block__dialog">
            <img src="../asset/img/icons/dialog-forging.svg" alt="forging" />
            <h3>
              In the SnP fixture our responsibility only ends with the ship’s
              successful delivery to its new owners, where in the charter
              fixture we stay involved until off-hire survey is completed.
            </h3>
          </div>
        </div>
      </section>
      <section class="about-info">
        <div class="container">
          <div class="info-block__title">
            <h3 class="accent-red">02</h3>
            <h3>
              We are happy to provide
              <span class="accent-red">added value</span> with our industry
              knowledge and relationships, alongside elements of consultancy
              like offering you different approaches and innovative solutions,
              based on our experience.
              <span class="accent-red">
                Our value is long-term relationship
              </span>
              with you rather than the quick profit that might be made at your
              expense.
            </h3>
          </div>
          <div class="info-block__img">
            <img src="../asset/img/about-second.png" alt="about-img" />
          </div>
          <div class="info-block__list">
            <h3>As experienced <span class="accent-red">brokers</span> we:</h3>
            <ul>
              <li>
                <span>01</span>
                <span>
                  Approach vessel Owners based on knowing the specifics of their
                  culture and environment
                </span>
              </li>
              <li>
                <span>02</span>
                <span>
                  Know the track records of the approached fleet, that helps you
                  avoid cooperation with non-trustable partners
                </span>
              </li>
              <li>
                <span>03</span>
                <span>
                  Evaluate the market by collecting the rates based on the
                  resent deals and provide the report on the charter rates or
                  price ideas for budget formulation
                </span>
              </li>
            </ul>
          </div>
          <div class="info-block__text-two">
            <h3>
              In addition to our existing offshore vessel brokering activities,
              we are pleased to announce that Arena LLC has expanded its
              portfolio of services to include
              <span class="accent-red">
                the provision of spare parts and shipyard jobs
              </span>
              . These supplementary services have been designed to cater to our
              clients' diverse operational requirements in the realm of vessel
              management
            </h3>
            <div></div>
          </div>
        </div>
      </section>
      <section class="services-callout">
        <div class="container">
          <div class="callout">
            <h2>
              We look forward to offering you our enhanced support and
              assistance.
            </h2>
            <!-- <div class="callout-imgs"> -->
            <img src="../asset/img/icons/callout lines.svg" alt="lines" />
            <img src="../asset/img/icons/callout-arrow.svg" alt="arrow" />
            <!-- </div> -->

            <!-- <div class="callout-bg mob">
                <img src="../asset/img/dialog-bg-mob.svg" alt="dialog-pic" />
              </div> -->
          </div>
        </div>
      </section>
      <section class="contactus">
        <div class="container">
          <div class="contact-block">
            <div class="contact-left__title">
              <div class="uptitle">
                <img
                  class="logo-span"
                  src="../asset/img/banner_upTitle.png"
                  alt="plogo"
                />
                <span>What do we do?</span>
              </div>
              <h2>CONTACT US</h2>
              <span
                >Thank you for your interest in our services. Please fill out
                the email form, submit and we will get back to you soon.
              </span>
            </div>
            <div class="contact-left__content">
              <div class="contact-left__content-keys">
                <span>Address</span>
                <span>Phone</span>
                <span>Email</span>
              </div>
              <div class="contact-left__content-value">
                <span>Russia, Moscow.</span>
                <span>
                  Ms. Elena BARYSHEVA - Shipbroker
                  <br />
                  <a href="tel:+7 985 773-18-69"> +7 985 773-18-69</a>
                </span>

                <a href="mailto:+7 985 773-18-69">arenallc@arena-llc.com</a>
              </div>
            </div>
            <form class="contact-form">
              <h3 class="form-title">Fill in the forms:</h3>
              <div class="form-inputs">
                <input placeholder="Name..." type="name" />
                <input placeholder="Email..." type="email" />
                <input placeholder="Subjects..." type="name" />
                <textarea placeholder="Message..." name="text"></textarea>
              </div>
              <button class="button">
                <span></span>
                <span>Submit</span>

                <img
                  src="../asset/img/icons/icon arrow 45 white.svg"
                  alt="arrow"
                />
              </button>
            </form>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-topLeft">
            <div class="footer-nav">
              <a href="./about.page.html">About us</a>
              <a href="./services.page.html">Services</a>
              <a href="./fleet.page.html">Fleet</a>
              <a href="./contacts.page.html">Contacts</a>
            </div>
            <div class="footer-contact">
              <a href="tel:+74951234567">+7 985 773-18-69</a>
              <a href="email:arenallc@arena-llc.com">arenallc@arena-llc.com</a>
            </div>
          </div>
          <div class="footer-topRight">
            <button class="button button-cursive">
              <span></span>
              <span>get in touch</span>
              <img
                src="../asset/img/icons/icon arrow 45 white.svg"
                alt="arrow"
              />
            </button>
          </div>
          <div class="footer-bottomLeft">
            <span>Sea Deals. ©2024. All rights reserved.</span>
          </div>
          <div class="footer-bottomRight">
            <a href="#">Terms of Use</a>
            <a href="#">Privacy Policy</a>
          </div>
          <div class="footer-bg">
            <img src="../asset/img/footer-bg.png" alt="footer-bg" />
          </div>
        </div>
      </footer>
    </div>
    <script src="../asset/app.js"></script>
  </body>
</html>
